/* ========================== */
/* === styles ecran pour ==== */
/* === http://www.site.com  = */
/* copyright : senticad.com = */
/* ========================== */

/*misc
-------------------------------*/
.clear      { clear: both; }
.hide       { display: none; visibility: hidden; }
.visuallyhidden	{ border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px; }

/*CLEARFIX pour redonner 1 height aux blocs contenant des float*/
.clearfix:before, .clearfix:after	{ content: ""; display: table; }
.clearfix:after 							{ clear: both; }
/* image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before { content: ""; display: block; width: 0; height: 100%; }

/*img Placeholder*/
img[alt="placeholder"]			{ background-size: cover; }
img[alt="placeholder"].gray	{ background-color: #ddd; }
img[alt="placeholder"].music	{ background-image : url(../img/music.jpg); }
img[alt="placeholder"].food	{ background-image : url(../img/food.jpg); }
img[alt="placeholder"].town	{ background-image : url(../img/town.jpg); }

/*Grilles
-------------------------------*/
/* table layout grid */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *,
.col {
	display: table-cell;
	vertical-align: top;
	padding: 1em;
}

/* float grid */
.grid		{ 
	margin: 0 -1.428%;
	overflow: hidden;
	background-color: yellow;
}
.w1-6, .w2-6, .w3-6, .w4-6, .w5-6, .w6-6 
			{ 
	float: left; 	
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	padding: 1.3889%;
	
}
.w1-6		{ width: 16.666%; }
.w2-6		{ width: 33.333%; }
.w3-6		{ width: 50%; }
.w4-6		{ width: 66.666%; }
.w5-6		{ width: 83.333%; }
.w6-6		{ width: 100%; }


/*blocs
-------------------------------*/
#keur       {/*id du body index*/}
#container  {  }
#wrapper    {  }
               
#header     {  }
#main_nav   {  }
#section    {  }
#footer     {  }

/*commun à toutes les navs
-------------------------------*/
.ul-nav {  }
.li-nav {  }
.a-nav  {  }
.fii    { /* ici en wolof, pour lien actifs*/ }  

/*main_nav
-------------------------------*/
.main_nav			{  }
.li-main_nav    	{  }
.a-main_nav     	{  }
.sub-main_nav   	{  }         
.li-sub-main_nav	{  }
.a-sub-main_nav 	{  }

/*header
-------------------------------*/
#header     {  }
.brand		{  } /*wrap .logo + .baseline*/
.logo       {  }
.site_title	{  }
.baseline   {  }

#nav_header     {  }
.li-nav_header  {  }
.a-nav_header   {  }
                   
/*Section
-------------------------------*/
#sidebar        {  }
                   
#nav_section    {  }
.li-nav_section {  }
.a-nav_section  {  }
                   
#content        {  }
.article        {  /*div englobant un article*/}
.main_title     {  }
.meta-article   {  /*div englobant les informations sur l'article (date,auteur,catégories,etc.*/}
date            {  /*abbr*/}
.auteur         {  }
.invit-comment  {  /*lien vers le form de commentaire*/}
.nb-comment     {  }
.categorie      {  }
.resume         {  }
.article-img    {  }
.body           {  }

/*Images et galerie
--------------------------------*/
.thumb      {/*pour toutes les vignettes*/}
.fullsize   {/*pour toutes les img full size*/}
        
.galimg		   {/*ul ou ol de galerie images*/}
.li-galimg     {  }
.a-galimg      {  }

/*footer
-------------------------------*/
#nav_footer     {  }
.li-nav_footer  {  }
.a-nav_footer   {  }

