/* --------------------------------------------------------------
   forms.css
	* Normalize Form CSS with boilerplate
	* Use Formee1.2 for grid

   Usage:
   * For inline forms, use .inline (even when using columns)
	
-------------------------------------------------------------- */ 


/*RESET FORMS*/
/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}
button[disabled], input[disabled] { cursor: default; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

label       { 
	text-transform: uppercase; 
	font-size: 0.8em; 
	color: #666;
}

/*Default fieldset : as a title*/
fieldset    { 
}
legend      { 
/*	font-weight: bold; */
	font-size:1.2em; 
	white-space: nowrap; 
	border-bottom: 1px solid #999;
	display: block;
	width: 100%;
	padding-bottom: 0.33em;
}
/*Fieldset border*/
.fieldset-border {
	margin: 0 0 1.5em 0; 
	border: 1px solid #ccc; 
	padding: 0 1em 0.66em 1em;	
}
.fieldset-border legend {
	border-bottom: 0 none;
	padding-bottom: 0;
	width: auto;
}

/* Form fields
-------------------------------------------------------------- */
input, textarea, select {
	background-color:#eee;
	min-width: 100%; max-width: 100%;
	padding: 0.33em;
	border: 1px solid #ccc;
	height: 2em;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}
input:focus, textarea:focus, select:focus {
	border-color:#666;
	background-color: #fff;
}
input[type=checkbox], input[type=radio], input[type=submit], input[type="reset"] {
	min-width: 0;
	max-width: none;
}
textarea {
	font: inherit;
	resize: vertical;
}
input[type=checkbox], input[type=radio], textarea {
	height: auto;	
}
input[type=file] { }


/* Field form */
.form-item	{ 
	padding-bottom: 0.33em;
	padding-top: 0.33em;
}

.form-list-chk, .form-list-rdo {
   height: 100%;
	list-style: none outside none;
	margin: 0;
}


/* Form item inline
-------------------------------------------------------------- */

.inline-form input, .inline-form textarea, .inline-form select { 
	min-width: 0;
	vertical-align: middle;
}
.inline-form li {
	margin-right: 1em; 
	float: left; 
	display: inline; 
}

/* Input group
-------------------------------------------------------------- */
.input-group {
	display: table;
	width: 100%;
}
.input-group > * {
	display: table-cell;
}
.input-group input {
	width: 100%;
}
.input-group .input-addon {
	text-align: center;
	width: 1%;
	padding: 0 0.33em;
	background-color: #ddd;
	border: 1px solid #999;
}


/* Success, notice and error boxes
-------------------------------------------------------------- */
.error,.notice,.success	{ padding: .5em .5em .5em 30px; margin-bottom: 1em; border: 2px solid #ddd; }
.error       				{ background: #FBE3E4 url(../img/form/error-trans.png) no-repeat 7px 9px; color: #8a1f11; border-color: #FBC2C4; }
.notice                 { background: #d1ecf7 url(../img/form/notice-trans.png) no-repeat 7px 9px; border-color:#bcdfef; color:#11689e; }
.success, 					{ background: #E6EFC2 url(../img/form/success-trans.png) no-repeat 7px 9px; color: #264409; border-color: #C6D880; }

.error a,				   { color: #8a1f11; }
.notice a               { color: #514721; }
.success a              { color: #264409; }

/* add * after required label */
label.required:after	{ content: " *"; color: red;}

/*Txp only*/
.errorElement {}