/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
	* Thanks to Boilerplate, Knacss and blueprint
   
-------------------------------------------------------------- */
/* Colors
Color1	#000		rgb(0,0,0)






-------------------------------------------------------------- */

/* Default font settings. */
html {font-size: 62.5%;} /*equivalent 10px*/
body { 
  font-size: 1.6em;
  color: #222; 
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* 
*	Headings

* quotient : 1.667
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6	{ font-weight: normal; color: #111; }

h1, .h1 { font-size: 3.44em;	line-height: 1;		margin-bottom: 0.44em; }
h2, .h2 { font-size: 2.52em;	line-height: 1.1;		margin-bottom: 0.6em; }
h3, .h3 { font-size: 1.85em;	line-height: 1.1;		margin-bottom: 0.81em; }
h4, .h4 { font-size: 1.59em;	line-height: 1.2;		margin-bottom: 0.94em; }
h5, .h5 { font-size: 1.36em;	line-height: 1.2;		margin-bottom: 1.10em; }
h6, .h6 { font-size: 1.167em;	line-height: 1.285;	margin-bottom: 0em; }

/* avoid collapsing margins on headings */
h1:first-child, h2:first-child,
h3:first-child, h4:first-child,
h5:first-child, h6:first-child {
	margin-top: 0;
}
h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p, .p 		{
	font-size: 1em; 
	margin: 0 0 1.5em; 
	-webkit-hyphens: auto;
      -moz-hyphens: auto;
       -ms-hyphens: auto;
           hyphens: auto;
}

/*Links*/
a:focus 		{ outline: thin dotted; }
a:active,a:hover
				{ outline: 0; }
a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; }

/*citations*/
blockquote, q 	{ quotes: none; }
blockquote:before, blockquote:after, 
q:before, q:after 
					{ content: ''; content: none; }
blockquote  	{ margin: 1.5em; color: #666; font-style: italic; }


strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup 		{ top: -0.5em; }
sub 		{ bottom: -0.25em; }
    	
abbr			{ border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

/*Code / pre*/
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; line-height: 1.5;}
pre 						{ margin: 1.5em 0;  white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* Addresses styling not present in IE 6/7/8/9. */
mark { background: #ff0; color: #000; }


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}


/* Tables
-------------------------------------------------------------- */
/* Tables still need 'cellspacing="0"' in the markup. */

table       	{ border-collapse: separate; border-spacing: 0; margin-bottom: 1.5em; width:100%; }
table, td, th	{ vertical-align: middle; }
th          	{ font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption	{ text-align: left; font-weight: normal; padding: 4px 10px 4px 5px; }
tr.even td  	{ background: #e5ecf9; }
tfoot       	{ font-style: italic; }
caption     	{ background: #eee; }



/* Text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) 
-------------------------------------------------------------- */
::-moz-selection, ::selection { background: #fcd700; color: #fff; text-shadow: none; }

/* Divers
-------------------------------------------------------------- */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

small, 
.small	{ font-size: .85em; }
.xsmall	{ font-size: .73em; }
.big		{ font-size: 1.167em; }
.xbig		{ font-size: 1.36em; }
