{% extends 'docs/extends/base.njk' %}

{% block title%}
  Forms —
{% endblock %} 

{% block main %}
<section id="doc-forms" class="doc-section">
	<h1>Forms</h1>

	<h2>Simple formulaire - avec notif d'erreur</h2>

	<div class="demo-form code-demo">
<form action="index_submit" method="get" accept-charset="utf-8">

	<div class="notif error">
		Champs obligatoires non remplis
	</div>

	<fieldset>
		<legend>Fieldset legend</legend>
		<div class="form-item error">
			<label class="required" for="inputText1">Input type text</label>
			<input class="" name="inputText1" required />
			<p class="help__form-item">* Champ requis</p>
		</div>
		<div class="form-item">
			<label for="select1">Select</label>
			<select name="select1" id="select1">
				<option value="">option 1</option>
				<option value="">option 2</option>
				<option value="">option 3</option>
				<option value="">option 4</option>
				<option value="">option 5</option>
			</select>
		</div>
		<div class="form-item">
			<label for="textarea1">Textarea</label>
			<textarea name="textarea1" id="textarea1"></textarea>
		</div>					
		<div class="form-item">
			<label for="inputFile1">Input type file</label>
			<input name="inputFile1" type="file" id="inputFile1">
		</div>					
		<div class="form-item">
			<ul class="inline-form il-grid">
				<li><label><input type="checkbox" name="checkbox-01"> Checkbox 01</label></li>
				<li><label><input type="checkbox" name="checkbox-01"> Checkbox 01</label></li>
				<li><label><input type="checkbox" name="checkbox-01"> Checkbox 01</label></li>
				<li><label><input type="checkbox" name="checkbox-01"> Checkbox 01</label></li>
			</ul>						
		</div>
		<div class="form-item">
			<input type="submit" value="send" title="send">				
		</div>
	</fieldset>
</form>	
	</div>
	
	<h2>Fieldset border</h2>

	<div class="demo-form code-demo">
<form action="index_submit" method="get" accept-charset="utf-8">
	<fieldset class="fieldset-border">
		<legend>Fieldset legend</legend>
		<div class="form-item">
			<label for="inputText1">Input type text</label>
			<input class="" name="inputText1" value="" />
		</div>
		<div class="form-item">
			<label for="inputText1">Input type password</label>
			<input class="" type="password" name="inputText1" value="password" />
		</div>
		<div class="form-item">
			<input type="submit" value="send" title="send">				
		</div>
	</fieldset>
</form>	
	</div>

	<h2>Submit</h2>
	
	<div class="demo-form code-demo">
<form action="index_submit" method="get" accept-charset="utf-8">
	<div class="form-item">
		<label for="">Label</label>
		<input name="inputText1" value="" />
	</div>
	<div class="form-item">
		<input type="submit" value="Input submit" title="send">				
		<button type="submit">Button submit</button>
	</div>
</form>	
	</div>

	
	<h2>Inline form</h2>

	<div class="demo-form code-demo">
<form action="index_submit" method="get" accept-charset="utf-8">
	<div class="form-item inline-form">
		<select name="select1" id="select1">
			<option value="">Mlle</option>
			<option value="">Mme</option>
			<option value="">M</option>
		</select>
		<input class="" name="inputText1" value="" />
		<input class="" type="password" name="inputText1" value="password" />
		<input type="submit" value="send" title="send">				
	</div>
</form>	

<form action="index_submit" method="get" accept-charset="utf-8">
	<div class="form-item inline-form">
		<label for="">Login</label>
		<input class="" name="inputText1" value="" />
		<label for="">pass</label>
		<input class="" type="password" name="inputText1" value="password" />
		<input type="submit" value="send" title="send">				
	</div>
</form>	


	</div>
	
	<h2>form with grid</h2>
	
	<div class="grid-demo code-demo">

<form action="index_submit" method="get" accept-charset="utf-8">
	<fieldset>
		<legend>fieldset legend</legend>	
		<div class="il-grid">
			<div class="form-item span--1-2">
				<label for="form-item1">name</label>
				<input name="form-item1" value="" />
			</div>
			<div class="form-item span--1-2">
				<label for="form-item2">lastname</label>
				<input name="form-item2" type="text" />
			</div>				
			<div class="form-item span--1-3">
				<label for="select1">Select</label>
				<select name="select1" id="select1">
					<option value="">option 1</option>
					<option value="">option 2</option>
					<option value="">option 3</option>
					<option value="">option 4</option>
					<option value="">option 5</option>
				</select>
			</div>
			<div class="form-item span--1-3">
				<label for="select1">Select</label>
				<select name="select1" id="select1">
					<option value="">option 1</option>
					<option value="">option 2</option>
					<option value="">option 3</option>
					<option value="">option 4</option>
					<option value="">option 5</option>
				</select>
			</div>		
			<div class="form-item span--1-3">
				<label for="form-item2">Other</label>
				<input type="text" value="" />						
			</div>
			<div class="form-item span--1-1">
				<label for="">Choose your better option</label>
				<ul class="il-grid">
					<li class="span--1-5"><label><input type="checkbox" name="checkbox-01"> Checkbox 01</label></li>
					<li class="span--1-5"><label><input type="checkbox" name="checkbox-01"> Checkbox 02</label></li>
					<li class="span--1-5"><label><input type="checkbox" name="checkbox-01"> Checkbox 03</label></li>
					<li class="span--1-5"><label><input type="checkbox" name="checkbox-01"> Checkbox 04</label></li>
					<li class="span--1-5"><label><input type="checkbox" name="checkbox-01"> Checkbox 05</label></li>
				</ul>						
			</div>
		</div>
			<div class="form-item">
				<input type="submit" value="send" title="send" />						
			</div>
	</fieldset>
</form>	
	</div>
	
	<h2>Input group</h2>
	
	<div class="form-demo code-demo">

<div class="form-item input-group">
  <span class="input-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<div class="form-item input-group">
  <input type="text" class="form-control">
  <span class="input-addon">.00</span>
</div>

<div class="form-item input-group">
  <span class="input-addon">$</span>
  <input type="text" class="form-control">
  <span class="input-addon">.00</span>
</div>

<div class="form-item">
	<label for="social-url">Social link</label>
	<div class="input-group">
		<select class="input-addon" name="social-service-name" id="">
			<option value="">Choose…</option>
			<option value="Facebook">Facebook</option>
			<option value="Twitter">Twitter</option>
			<option value="Google+">Google+</option>
			<option value="LinkedIn">LinkedIn</option>
			<option value="Skype">Skype</option>
			<option value="Skype">Youtube</option>
		</select>
		<span class="input-addon">http://</span>
		<input type="text" id="social-url" name="social-url"/>		
	</div>
</div>																
	
	</div>
	<!-- .code-demo -->

	<h3>Submit in input-addon</h3>

	<div class="code-demo">
		
<form>
	<div class="form-item input-group">
		<input type="search">					  
		<div class="input-addon">
			<button type="submit">OK</button>
		</div>
	</div>
	<div class="form-item input-group">
		<input type="search">					  
		<div class="input-addon">
			<input type="submit" value="OK" />
		</div>
	</div>
</form>

	</div>
	<!-- /.code-demo -->


	<!-- 
		NOTIFICATIONS 
	-->


	<h3>Notifications</h3>

	<h4>Error notification</h4>

	<div class="demo-notif code-demo">
<div class="notif error">
	<p>	
		Lorem ipsum Pariatur sed minim tempor reprehenderit voluptate sit ea commodo dolor enim officia tempor <a href="#">link text</a> in laborum velit ea ut.
	</p>
</div>
	</div>


	<h4>Notice notification</h4>

	<div class="demo-notif code-demo">

<div class="notif notice">
	<p>	
		Lorem ipsum Pariatur sed minim tempor reprehenderit voluptate sit ea commodo dolor enim officia <a href="#">link text</a> tempor in laborum velit ea ut.
	</p>
</div>
	</div>


	<h4>Success notification</h4>

	<div class="demo-notif code-demo">
<div class="notif success">
	<p>
		Lorem ipsum Pariatur sed minim tempor reprehenderit voluptate sit ea commodo dolor enim officia <a href="#">link text</a> tempor in laborum velit ea ut.
	</p>
</div>
	</div>
	
	
</section> <!-- #doc-forms -->
{% endblock %}

