{% extends 'docs/extends/base.njk' %}

{% block additionalCSS %}
	<link rel="stylesheet" href="assets/anim-logo.css" type="text/css" media="screen" />
{% endblock %}

{% block header_title %}{% endblock %}


{% block main %}
<h1>
	{% include 'docs/includes/logo-amorce.svg' %} <br/>
	<span class="xsmall">v. 1705</span>
</h1>


<p class="large">
	<a href="https://github.com/Sacripant/amorce/releases" target="_blank" class="btn">
		Download
	</a>
	<a href="https://github.com/Sacripant/amorce" target="_blank" class="btn">
		Sources
	</a>
</p>


<p>
	Amorce est un starter kit pour l'intégration de site internet. <br/>
	Il se veut <em lang="en">style-agnostic</em>, léger et modulaire (utilisez uniquement le nécessaire).
</p>

<p>
	Il propose :
</p>

<ul>
	<li> Un Framework CSS (reset, typo, forms, utils, grids, etc) découpé en modules.</li>
	<li> Une documentation qu'il suffit de faire évoluer en <em>style guide</em> pour chaque projet.</li>
	<li> Une convention de nommage claire basé sur BEM.</li>
	<li> Le langage de templating <a href="http://mozilla.github.io/nunjucks/">nunjucks</a> pour modulariser vos templates en composants et faciliter la communication avec les développeurs.</li>
	<li> La génération automatique d'un <em>sprite SVG</em> à partir des images SVG présents dans le dossier <code>img/icons</code></li>
	<li> La possibilité d'utiliser les fonctions CSS <del>du future</del> <add>en cours de normalisation</add> (custom-properties, custom media queries, customs selectors, color(), etc) grâce à <a href="http://cssnext.io/">cssnext</a> (un plugin pour PostCSS)</li>
	<li> Le préfixage automatique des propriétés CSS (PostCSS auto-prefixer)</li>
	<li> Une série de <em>scripts NPM</em> la compilation des fichiers source & un rafraichissement automatique (live refresh) du navigateur.</li>	
</ul>

<h2> Requirements </h2>

<ul>
	<li><a href="https://nodejs.org/">nodeJS</a> et <a href="https://www.npmjs.com/">NPM</a></li>
</ul>

<h2> Getting started </h2>

<p>
	Téléchargez la <a href="https://github.com/Sacripant/amorce/releases">dernière version stable de Amorce</a>.
	Depuis un shell/terminal (placé à la racine de votre projet), installer les paquets nodeJS requis avec la commande :	
</p>

<ul>
	<li><code>npm install</code></li>
</ul>

<p>Puis compilez une première fois les fichiers sources avec la commande</p>

<ul>
	<li><code>npm run build</code> ou <code>grunt build</code></li>
</ul>


<h2>Compilation à la volée</h2> 

<p>
	<code>npm run dev</code>
</p>

<p>
	La commande <code>npm run dev</code> est paramétrée pour lancer des <em>watchers</em> sur les fichiers sources et lancer un serveur <a href="https://www.browsersync.io/">browsersync</a>. Ainsi, à chaque modification d'un fichier source html ou css, les fichiers seront compilés automatiquement et le navigateur rafraichi.
</p>

<h2>Commandes de compilation manuelles</h2> 

<ul>
	<li>
		<code>npm run build:css</code> : 
		compile les fichiers CSS à l'aide de <a href="http://cssnext.io/">cssnext</a>.
	</li>
	<li>
		<code>npm run build:icons</code> : 
		compile les fichiers <code>.svg</code> présents dans <code>src/static/img/icons/</code>`: optimisations des images et génération d'un <em>sprite SVG</em>.
	</li>
	<li>
		<code>npm build:templates</code> : 
		compile les fichiers sources <code>.njk</code> des templates qui utilise le system de templating _nunjucks_ en templates <code>html</code>.
	</li>
	<li>
		<code>npm run build:modernizr</code> : 
		compile un fichier <code>modernizr-custom.js</code> en fonction des options présentes dans le fichier <code>modernizr-config.json</code>.
	</li>
	<li>
		<code>grunt run build:docs</code> : 
		Compile les fichiers sources <code>njk</code> pour générer la documentation au format <code>html</code>.
	</li>
</ul>

<p>
	Pour plus de précision, vous pouvez inspecter le fichier <code>package.json</code>.
</p>

{% endblock %}


{% block additional_JS %}
<script>
(function($) {
	'use strict';

	$(document).ready(function($) {
		var logo = $('#logo');
		logo.addClass('run');
		logo.on('animationend', '#bomb', function(event) {
			// console.log(event.target.id);
			if (event.target.id === "bomb") {
				logo.removeClass('run');
			};
		});
	});


})(jQuery);
</script>


{% endblock %}
