/*  ======

    Utils - flex-utils.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
    -------------------

    Flexbox utils class
    Can quickly apply different options of flexbox layout.
    Very handy for rapid prototyping.

    USE:
    add class .fx--option1--option2--etc
    Options can be added in any order you want
      
====== */

.fx,
[class^="fx--"], 
[class*=" fx--"] {
    display: flex;


    /* 
     *  flex-wrap options 
     *  default : nowrap;
     */
    &[class*="--wrap"] {
        flex-wrap: wrap;
    }
    &[class*="--wrap-reverse"] {
        flex-wrap: wrap-reverse;
    }


    /* 
     *  flex-direction options 
     *  default : row;
     */
    &[class*="--row-reverse"] {
        flex-direction: row-reverse;
    }
    &[class*="--column"] {
        flex-direction: column;
    }
    &[class*="--column-reverse"] {
        flex-direction: column-reverse;
    }

    
    /* 
     *  justify-content options 
     *  default : flex-start;
     */
    &[class*="--justify-center"] {
        justify-content: center;
    }
    &[class*="--justify-end"] {
        justify-content: flex-end;
    }


    /* 
     *  align-items options 
     *  default : stretch;
     */
    &[class*="--alignI-start"] {
        align-items: flex-start;
    }
    &[class*="--alignI-end"] {
        align-items: flex-end;
    }
    &[class*="--alignI-center"] {
        align-items: center;
    }


    /* 
     *  align-content options 
     *  default : stretch;
     */
    &[class*="--alignC-start"] {
        align-content: flex-start;
    }
    &[class*="--alignC-end"] {
        align-content: flex-end;
    }
    &[class*="--alignC-center"] {
        align-content: center;
    }


    /* 
     *  Grow : 1; 
     *  Default: 0;
     *  On container : active grow in all flex items;
     *  On item: active grow only for this item;
     */
    &[class*="--grow"] > *, 
    & > [class*="i__fx--"][class*="--grow"] {
        flex-grow: 1;
    }


    /* 
     *  no-shrink = Shrink : 0; 
     *  Default: 1;
     *  On container : active grow in all flex items;
     *  On item: active grow only for this item;
     */
    &[class*="--no-shrink"] > *,
    & > [class*="i__fx--"][class*="--no-shrink"] {
        flex-shrink: 0;
    }


    /* 
     *  Align-self option 
     *  On items only
     *  Default: auto (depend on container align-items value);
     */
    & > [class*="i__fx--"][class*="--start"] {
        align-self: flex-start;
    }
    & > [class*="i__fx--"][class*="--center"] {
        align-self: center;
    }
    & > [class*="i__fx--"][class*="--end"] {
        align-self: flex-end;
    }
    & > [class*="i__fx--"][class*="--stretch"] {
        align-self: stretch;
    }

}