/*  ======

    Utils - maxW.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
    -------------------
    
    default centered wrapper 
    Fix max-width, based on breakpoints

====== */


.wrapper        {  
    max-width: 100%;
    padding-left:  calc( var(--vr) * 1rem );
    padding-right: calc( var(--vr) * 1rem );
    margin: 0 auto;
}


.maxW--maxXS,
.wrapper--maxXS {
    max-width: var(--maxXS);
}
.maxW--maxS,
.wrapper--maxS {
    max-width: var(--maxS);
}
.maxW--maxM,
.wrapper--maxM {
    max-width: var(--maxM);
}
.maxW--maxL,
.wrapper--maxL {
    max-width: var(--maxL);
}
