build/index.html

build/templates/*.html
build/templates/css
build/templates/fonts/*
build/templates/img/icons/*.svg
build/templates/js/modernizr-custom.js

build/docs/*.html

node_modules/


src/docs/iconsFont.html