{% extends "templates/extends/base.njk" %}

{% block main %}
	<header role="banner">
		<h1>Amorce, un starter kit pour vos intégrations web</h1>
	</header>

	<main role="main">
		<h2>Error 404 !</h2>
		<h3>Oups, le page demandée n'a pas été trouvée</h3>
	</main>

	<footer>

	</footer>
{% endblock %}
