/* -------------------------------------------------------------- 
   
  breakpoints.css
  Define Breakpoints and add these values in body

  These values will not show up in content, but can be 
  queried by JavaScript to know which breakpoint is active. 
  https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript

  © sacripant.fr

  REQUIRED :
  * sac-breakpoint.js

-------------------------------------------------------------- */


body:before {
  content: "xs";
  display: none; /* Prevent from displaying. */
}
@media (--minS) {
  body:before {
    content: "minS";
  }
}
@media (--minM) {
  body:before {
    content: "minM";
  }
}
@media (--minL) {
  body:before {
    content: "minL";
  }
}
@media (--minXL) {
  body:before {
    content: "minXL";
  }
}