/* --------------------------------------------------------------
    grid.css
        define grids system
        Amorce Framework
        © sacripant.fr

        * Grids
        ** Table grid
        ** Float grid
        ** Inline grid
        * Options 
        ** vertical-align colonnes
        ** unguttered
        ** half-gutter

        
-------------------------------------------------------------- */ 





/*
*   Grids
*   - table, float & inline-block grids
*   - 1 à 7 colonnes imbricable
*/

/* table layout grid 
---------------------*/
.tb-grid,
[class*="tb-grid--"] 
{
    display: table;
    table-layout: fixed;

    border-collapse: separate;
    border-spacing: var(--gutter)em 0; /* don't work with % */

    width: 100%;

    /*delet visualy border between table and cells*/
    width: calc( 100% + 3em );
    margin-left: -var(--gutter)em;
}
.tb-grid > *,
[class*="tb-grid--"] > *,
.tb-grid > [class*=span],
[class*="tb-grid--"] > [class*=span]
{
    display: table-cell;
    /*vertical-align: bottom;*/
    float: none;
}

.tb-grid--auto {
    table-layout: auto;
}

/* Grid (inline-block & f-left)
** Calcul de la gouttière en %
** (1) margin neg = x%
** (2) padding = x*(100+2x)/100
-------------------------------*/
.fl-grid
, .il-grid  
{ 
    display: block;
    margin-left: -var(--gutter-half)rem; /*(1)*/
    margin-right: -var(--gutter-half)rem; /*(1)*/
}

.fl-grid  > *
, .fl-grid  > [class*=span--]
, .il-grid  > *
, .il-grid  > [class*=span--]
{
    padding-left: var(--gutter-half)em; /*(2)*/
    padding-right: var(--gutter-half)em; /*(2)*/
}



/* Float-left grid
--------------------*/

/*CLEARFIX for float grid*/
.fl-grid:before, .fl-grid:after { content: ""; display: table; }
.fl-grid:after                  { clear: both; }

.fl-grid > [class*=span--] {
    float: left;
    display: block;
}



/* Inline-block grid
----------------------*/
.il-grid {
    font-size: 0; 
}
.il-grid > * 
, .il-grid > [class*=span--] 
{
    font-size: 1rem; 
    display: inline-block;
    float: none;
}


/*
*   Grids Option
*/

/*vertical-align for table and inline grid
-------------------------------------------*/
.va-top > *     { vertical-align: top; }
.va-bottom > *  { vertical-align: bottom; }
.va-middle > *  { vertical-align: middle; }


/* Unguttered grid (no gutter)
-----------------------------*/

.no-gutter
, .fl-grid.no-gutter
, .il-grid.no-gutter
, .tb-grid.no-gutter
{
    margin-left: 0;
    margin-right: 0;
}
.tb-grid.no-gutter {
    width: 100%;
    border-collapse: collapse;    
}

.no-gutter > *  
, .no-gutter > [class*=span--]  
{
    padding: 0;
}

/*  half-gutter
-----------------------*/
.half-gutter
, .fl-grid.half-gutter
, .il-grid.half-gutter
{
    margin-left: -calc(var(--gutter-half) / 2)rem; /*(2)*/
    margin-right: -calc(var(--gutter-half) / 2)rem; /*(2)*/
}

.il-grid.half-gutter > *  
, .fl-grid.half-gutter > *  
, .il-grid.half-gutter > [class*=span--]  
, .fl-grid.half-gutter > [class*=span--]  
{
    padding-left: calc(var(--gutter-half) / 2)rem; /*(2)*/
    padding-right: calc(var(--gutter-half) / 2)rem; /*(2)*/
}

.tb-grid.half-gutter 
, .tb-grid--auto.half-gutter 
{
    width: calc( 100% + var(--gutter)em );
    margin-left: -var(--gutter-half)em;
    border-spacing: var(--gutter-half)em 0;
}




/*********
*   SPAN
**********/

[class*=span--]  {
    width: 100%;
}

/* grid for all viewport */
.span--1-7                          { width: 14.285%; }
.span--1-6                          { width: 16.666%; }
.span--1-5                          { width: 20%; }
.span--1-4                          { width: 25%; }
.span--2-7                          { width: 28.571%; }
.span--1-3, .span--2-6              { width: 33.333%; }
.span--2-5                          { width: 40%; }
.span--3-7                          { width: 42.857%; }
.span--1-2, .span--3-6, .span--2-4  { width: 50%; }
.span--4-7                          { width: 57.142%; }
.span--3-5                          { width: 60%; }
.span--2-3, .span--4-6              { width: 66.666%; }
.span--5-7                          { width: 71.428%; }
.span--3-4                          { width: 75%; }
.span--4-5                          { width: 80%; } 
.span--5-6                          { width: 83.333%; }
.span--6-7                          { width: 85.714%; }
.span--1-1, .span--2-2, .span--3-3, 
.span--4-4, .span--5-5, .span--6-6,
.span--7-7                          { width: 100%; }
.span--auto                         { width: auto; }


@media only screen and (--minS) {
    .s-span--1-7                                { width: 14.285%; }
    .s-span--1-6                                { width: 16.666%; }
    .s-span--1-5                                { width: 20%; }
    .s-span--1-4                                { width: 25%; }
    .s-span--2-7                                { width: 28.571%; }
    .s-span--1-3, .s-span--2-6                  { width: 33.333%; }
    .s-span--2-5                                { width: 40%; }
    .s-span--3-7                                { width: 42.857%; }
    .s-span--1-2, .s-span--3-6, .s-span--2-4    { width: 50%; }
    .s-span--4-7                                { width: 57.142%; }
    .s-span--3-5                                { width: 60%; }
    .s-span--2-3, .s-span--4-6                  { width: 66.666%; }
    .s-span--5-7                                { width: 71.428%; }
    .s-span--3-4                                { width: 75%; }
    .s-span--4-5                                { width: 80%; } 
    .s-span--5-6                                { width: 83.333%; }
    .s-span--6-7                                { width: 85.714%; }
    .s-span--1-1, .s-span--2-2, .s-span--3-3, 
    .s-span--4-4, .s-span--5-5, .s-span--6-6,
    .s-span--7-7                                { width: 100%; }
    .s-span--auto                               { width: auto; }
        
}


@media only screen and (--minM) {
    .m-span--1-7                                { width: 14.285%; }
    .m-span--1-6                                { width: 16.666%; }
    .m-span--1-5                                { width: 20%; }
    .m-span--1-4                                { width: 25%; }
    .m-span--2-7                                { width: 28.571%; }
    .m-span--1-3, .m-span--2-6                  { width: 33.333%; }
    .m-span--2-5                                { width: 40%; }
    .m-span--3-7                                { width: 42.857%; }
    .m-span--1-2, .m-span--3-6, .m-span--2-4    { width: 50%; }
    .m-span--4-7                                { width: 57.142%; }
    .m-span--3-5                                { width: 60%; }
    .m-span--2-3, .m-span--4-6                  { width: 66.666%; }
    .m-span--5-7                                { width: 71.428%; }
    .m-span--3-4                                { width: 75%; }
    .m-span--4-5                                { width: 80%; } 
    .m-span--5-6                                { width: 83.333%; }
    .m-span--6-7                                { width: 85.714%; }
    .m-span--1-1, .m-span--2-2, .m-span--3-3, 
    .m-span--4-4, .m-span--5-5, .m-span--6-6,
    .m-span--7-7                                { width: 100%; }
    .m-span--auto                               { width: auto; }
 
}
@media only screen and (--minL) {
    .l-span--1-7                                { width: 14.285%; }
    .l-span--1-6                                { width: 16.666%; }
    .l-span--1-5                                { width: 20%; }
    .l-span--1-4                                { width: 25%; }
    .l-span--2-7                                { width: 28.571%; }
    .l-span--1-3, .l-span--2-6                  { width: 33.333%; }
    .l-span--2-5                                { width: 40%; }
    .l-span--3-7                                { width: 42.857%; }
    .l-span--1-2, .l-span--3-6, .l-span--2-4    { width: 50%; }
    .l-span--4-7                                { width: 57.142%; }
    .l-span--3-5                                { width: 60%; }
    .l-span--2-3, .l-span--4-6                  { width: 66.666%; }
    .l-span--5-7                                { width: 71.428%; }
    .l-span--3-4                                { width: 75%; }
    .l-span--4-5                                { width: 80%; } 
    .l-span--5-6                                { width: 83.333%; }
    .l-span--6-7                                { width: 85.714%; }
    .l-span--1-1, .l-span--2-2, .l-span--3-3, 
    .l-span--4-4, .l-span--5-5, .l-span--6-6,
    .l-span--7-7                                { width: 100%; }
    .l-span--auto                               { width: auto; }
 
}
@media only screen and (--minXL) {
    .xl-span--1-7                                { width: 14.285%; }
    .xl-span--1-6                                { width: 16.666%; }
    .xl-span--1-5                                { width: 20%; }
    .xl-span--1-4                                { width: 25%; }
    .xl-span--2-7                                { width: 28.571%; }
    .xl-span--1-3, .xl-span--2-6                 { width: 33.333%; }
    .xl-span--2-5                                { width: 40%; }
    .xl-span--3-7                                { width: 42.857%; }
    .xl-span--1-2, .xl-span--3-6, .xl-span--2-4  { width: 50%; }
    .xl-span--4-7                                { width: 57.142%; }
    .xl-span--3-5                                { width: 60%; }
    .xl-span--2-3, .xl-span--4-6                 { width: 66.666%; }
    .xl-span--5-7                                { width: 71.428%; }
    .xl-span--3-4                                { width: 75%; }
    .xl-span--4-5                                { width: 80%; } 
    .xl-span--5-6                                { width: 83.333%; }
    .xl-span--6-7                                { width: 85.714%; }
    .xl-span--1-1, .xl-span--2-2, .xl-span--3-3, 
    .xl-span--4-4, .xl-span--5-5, .xl-span--6-6,
    .xl-span--7-7                                { width: 100%; }
    .xl-span--auto                               { width: auto; }
}


