/* --------------------------------------------------------------
	config.css
		CSS variables
		* Define typographic ration
		* Define Vertical rythme & gutter size
-------------------------------------------------------------- */ 
:root {
	/*font-size ratio*/
	--fs-ratio : 1.1667;

	/*Size*/
	--fs-h6 : var(--fs-ratio);
	--fs-h5 : calc( var(--fs-ratio) * var(--fs-h6) );
	--fs-h4 : calc( var(--fs-ratio) * var(--fs-h5) );
	--fs-h3 : calc( var(--fs-ratio) * var(--fs-h4) );
	--fs-h2 : calc( var(--fs-ratio) * var(--fs-h3) );
	--fs-h1 : calc( var(--fs-ratio) * var(--fs-h2) );
	--fs-h0 : calc( var(--fs-ratio) * var(--fs-h1) );
	--fs-small : calc( 1 / var(--fs-ratio) );
	--fs-xsmall : calc( var(--fs-small) / var(--fs-ratio) );

	/*Vertical rythme*/
	--vr: 1.5;

	/*v-gutter (based vertical rythme )*/
	--gutter : var(--vr);
	--gutter-half : calc( var(--gutter) / 2 );

}

/*custom-medias*/
@custom-media --minS (min-width: 30em);
@custom-media --minM (min-width: 50em);
@custom-media --minL (min-width: 60em);
@custom-media --minXL (min-width: 80em);