/*  ======

    Layout - fx-grid.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
    -------------------

    flexbox grid system
    for multilines grid

    It's a good replacement of il-grid, fl-grid & tb-grid if you want controle gutter size and spans sizes.
    For other cases, it's better to directly use flex-utils.css
    In addition, flex-utils options can be use.
    
    Options:
    * No gutter
    * Half gutter

    REQUIRED:
    * layout/gutter.css
    * layout/flex-utils.css
    * layout/grid-span.css
      
====== */

/* 
** Calc of gutter in %
** (1) wrapper margin neg = x%
** (2) padding = x*(100+2x)/100
-------------------------------*/

.fx-grid { 
    display: flex;
    flex-wrap : wrap;
    margin-left: -var(--gutter-half)rem; /*(1)*/
    margin-right: -var(--gutter-half)rem; /*(1)*/
    /* if flex item are list-items */
    list-style-type: none;
}

.fx-grid  > *,
.fx-grid  > [class*=span--] {
    padding-left: var(--gutter-half)em; /*(2)*/
    padding-right: var(--gutter-half)em; /*(2)*/
}

/* 
 *  Unguttered grid (no gutter) option
 */
.fx-grid.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.fx-grid.no-gutter > *  
, .fx-grid.no-gutter > [class*=span--]  
{
    padding: 0;
}


/*  
 *  half-gutter option
 */
.fx-grid.half-gutter {
    margin-left: -calc(var(--gutter-half) / 2)rem; /*(2)*/
    margin-right: -calc(var(--gutter-half) / 2)rem; /*(2)*/
}

.fx-grid.half-gutter > *, 
.fx-grid.half-gutter > [class*=span--]  
{
    padding-left: calc(var(--gutter-half) / 2)rem; /*(2)*/
    padding-right: calc(var(--gutter-half) / 2)rem; /*(2)*/
}