/*  ======

    grids - il-grid.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
    -------------------

    inline-block grid system
    Options:
    * No gutter
    * Half gutter

    REQUIRED:
    * _config/config-grids.css
      
====== */

/* 
** Calc of gutter in %
** (1) wrapper margin neg = x%
** (2) padding = x*(100+2x)/100
-------------------------------*/

.il-grid  
{ 
    display: block;
    margin-left: -var(--gutter-half)rem; /*(1)*/
    margin-right: -var(--gutter-half)rem; /*(1)*/

    font-size: 0;
}

.il-grid  > *, 
.il-grid  > [class*=span--]
{
    padding-left: var(--gutter-half)em; /*(2)*/
    padding-right: var(--gutter-half)em; /*(2)*/

    font-size: 1rem; 
    display: inline-block;
    float: none;
}


/* 
 *  Unguttered grid (no gutter) option
 */
.il-grid.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.il-grid.no-gutter > *  
, .il-grid.no-gutter > [class*=span--]  
{
    padding: 0;
}


/*  
 *  half-gutter option
 */
.il-grid.half-gutter {
    margin-left: -calc(var(--gutter-half) / 2)rem; /*(2)*/
    margin-right: -calc(var(--gutter-half) / 2)rem; /*(2)*/
}

.il-grid.half-gutter > *, 
.il-grid.half-gutter > [class*=span--]  
{
    padding-left: calc(var(--gutter-half) / 2)rem; /*(2)*/
    padding-right: calc(var(--gutter-half) / 2)rem; /*(2)*/
}