/* -------------------------------------------------------------- 
   
  breakpoints.css
  Define Breakpoints
  Part of Amorce starter kit © sacripant.fr

-------------------------------------------------------------- */
:root {
  --maxXS : 30em;
  --maxS  : 48em;
  --maxM  : 60em;
  --maxL  : 80em;
};



/* define breakpoints with custom-medias */
@custom-media --maxXS (width < 30em);
@custom-media --minS (width >= 30em);
@custom-media --maxS (width < 48em);
@custom-media --minM (width >= 48em);
@custom-media --maxM (width < 60em);
@custom-media --minL (width >= 60em);
@custom-media --maxL (width < 80em);
@custom-media --minXL (width >= 80em);