/* -------------------------------------------------------------- 
   
    layout-utils.css
    some utils class for layout
     
    Part of Amorce starter kit © sacripant.fr

-------------------------------------------------------------- */


/* center a block horizontally */
.centered-block {
    display: block;
    margin-right: auto; 
    margin-left: auto;
}

/* Full size for inline-block, usefull for btn */
.fit {
    width: 100%;
}
