/* --------------------------------------------------------------
	
	buttons.css
	© sacripant.fr

-------------------------------------------------------------- */ 

.btn 
, [class*=btn--]
{
	color: var(--txt-color);
	background-color: #fff;

	display: inline-block;
	vertical-align: middle;

	line-height: 2em;
	height: 2em;
	padding: 0 .66em;
	
	border-radius: .33em;
	border: 0 none;
	box-shadow: inset 0 0 .1em currentColor;

}
.btn:hover
, .btn:focus
, [class*=btn--]:hover
, [class*=btn--]:focus
{	
	text-decoration: none;
}

.btn:active
,.btn.active
,.btn.selected
, [class*=btn--]:active
, [class*=btn--].active
, [class*=btn--].selected
{
	box-shadow: inset 0 .1em .2em currentColor;
}