/*  ======

    Basics - colors.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
        
====== */


/*  Colors variables */
:root {

    --txt-color : hsl(0, 0%, 30%);
    --h-color : hsl(0, 0%, 15%);
    --a-color: hsl(220, 60%, 35%);
    --select-color: hsl(220, 40%, 60%);

    /* Colors notifs */
    --color-error   : hsl(0, 75%, 45%);
    --color-error-bg: hsl(0, 35%, 90%);

    --color-notice   : hsl(30, 85%, 38%);
    --color-notice-bg: hsl(40, 35%, 90%);

    --color-success   : hsl(91, 77%, 15%);
    --color-success-bg: hsl(72, 58%, 85%);
}


.txt-color      { color: var(--txt-color); }
.h-color        { color: var(--h-color); }
.a-color        { color: var(--a-color); }
.select-color   { color: var(--select-color); }
