/*  ======

    Basics - forms.css
    -------------------
    part of AMORCE starter kit
        https://github.com/Sacripant/amorce
    
    -------------------

    Define default form styles

    TOC:
    * config
    * Form Reset
    * Form Normalizr
    * Fieldset & legend
    * Form item wrapper
    * Label
    * Form fields
    * No label option
    * Input group
    * form notifications
    * Required field
  
====== */

:root {
    --fields-height:  2em;
}


/*
 *  RESET FORMS
 */

/* hand cursor on clickable elements */
.clickable, label, [type=button], [type=submit], button {cursor: pointer; line-height: inherit;}
button[disabled], input[disabled] { cursor: default; }

/* 
 *  Some Form Normalizr 
 *  https://github.com/necolas/normalize.css
 */
button, input, select, textarea { font: inherit; margin: 0; vertical-align: baseline; color: inherit; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-input-placeholder { color: inherit; opacity: 0.54; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

/*
 *  Fieldset & legend
 */

/* 
 * Default fieldset : as a title 
 * [1] input[size] no expend beyond the parent fieldset width (default min-width: min-content)
 */

fieldset    { 
    margin-bottom: var(--vr)em;
    min-width: 0; /* [1] */
}
legend      { 
    font-size: var(--fs-h6);
    white-space: nowrap; 
    border-bottom: 1px solid;
    display: block;
    width: 100%;
    padding-bottom: 0.33em;
}

/* Fieldset border */
.fieldset-border {
    /*margin: 0 0 1.5em 0; */
    border: 1px solid #ccc; 
    padding: 0 1em 0.66em 1em;  
}
.fieldset-border legend {
    border-bottom: 0 none;
    padding-bottom: 0;
    width: auto;
}


/* 
 *  Form item wrapper
 */

.form-item  { 
    margin-bottom: calc( var(--vr) / 2 )em;
    margin-top: calc( var(--vr) / 2 )em; 
}

/*
 *  Label
 */

label       { 
    /*text-transform: uppercase; */
    font-size: var(--fs-small)em;
    color: #666;
    line-height: normal;
}


/* 
 *  Form fields
 */

input
, textarea
, select 
, [type=submit] {
    min-width: 100%; 
    max-width: 100%;
    padding: 0.33em;
    border: 1px solid #ccc;
    background-color: #fff;
    height: var(--fields-height);

    &:focus {
        border-color: #666;
    }
}


/*  NO MIN-WIDTH 
 *  for checkbox, radio, input[size] & form btns 
 */
input[type=checkbox]
, input[type=radio]
, input[type="reset"] 
, [type=submit]
, input[size]
{
    min-width: 0;
}

/* 
 * Height AUTO 
 * for checkbox, radio, select[multiple], select[size] & textarea 
 */
input[type=checkbox]
, input[type=radio]
, input[type=file]
, textarea
, select[multiple]
, select[size]
{
    height: auto;   
}



/* 
 *  SPECIFIC 
 */

/* Select */
select {
    width: 100%;
}

optgroup {
  font-weight: bold;
}


/* Textarea */
textarea {
    font: inherit;
    resize: vertical;
}


/* input type file */ 
input[type=file] { 
    border: 0 none; 
    padding: 0;
    width: 100%; /*for firefox display*/ 
}

/* input type date */
input[type=date] { 
    font: inherit; /*for chrome display*/
}

/* submit btns */
[type=submit] {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #eee;
}


/*  
 *  No label
 *  For correct input alignement with sibling form-item if no label 
 *  (for submit btn per ex) 
 */
.no-label input {
    margin-top: var(--vr)em; /*cf typo line-height*/
}



/* 
 *  Inline Form
 *  Align label & input
 *  [1] patch for IE11
 */
.inline-form input, .inline-form textarea, .inline-form select { 
    min-width: 0;
    width: auto;
    vertical-align: middle; /* [1] */
}


/* 
 *  Input group
 */

.input-group {
    display: table;
}
.input-group > * {
    display: table-cell;
    vertical-align: middle;
}
.input-group input {
    width: 100%;
}
.input-addon {
    width: 1%;
}
span.input-addon {
    background-color: #ddd;
    padding: 0 0.33em;  
}

.input-addon [type=submit] {
    border-left: 0 none;
}



/*
*   Notifications
*   * Error
*   * notif
*   * success
*/


.notif  { 
    padding: .5em; 
    margin-bottom: 1em; 
    /* border: 1px solid; */

    & :last-child {
        margin-bottom: 0;
    }

    & a {
        color:  inherit;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ERROR */


.error      { 
    color: var(--color-error);
}

.notif.error 
, .error input
, .error textarea
, .error select
{
    background: var(--color-error-bg);  
}

/* NOTICE */
.notif.notice
{
    background-color: var(--color-notice-bg);
    color: var(--color-notice); 
}

/* SUCCESS */

.notif.success  { 
    background-color: var(--color-success-bg); 
    color: var(--color-success); 
}

/* 
 *  Required field
 *  add * after label.required 
 */

label.required:after    { content: " *"; color: red;}
