/* -------------------------------------------------------------- 
  
	reset.css for HTML5
	Mélange maison de boilerplate & htlm5reset
	© sacripant.fr
   
-------------------------------------------------------------- */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,video,object,embed { max-width: 100%; height: auto; }
img { border-style: none; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/* SVG Corrects overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }
/* FIGURE Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure { margin: 0; }

/* force a vertical scrollbar to prevent a jumpy page */
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll;}

/*NAV*/
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/*Box model*/
* { box-sizing: border-box; }


