/* -------------------------------------------------------------- 
   
    hidden.css
    hidden class
    © sacripant.fr

    REQUIRED :
    * breakpoints.css

-------------------------------------------------------------- */


.hide, .hidden      { display: none; }


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * source: https://html5boilerplate.com/;
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 * source: https://html5boilerplate.com/
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
*   Responsive Hidden class
*/
@media (--maxXS) {
    .hidden--maxXS {
        display: none !important;
    }
}
@media (--maxS) {
    .hidden--maxS {
        display: none !important;
    }
}
@media (--maxM) {
    .hidden--maxM {
        display: none !important;
    }
}
@media (--maxL) {
    .hidden--maxL {
        display: none !important;
    }
}
@media (--minS) {
    .hidden--minS {
        display: none !important;
    }
}
@media (--minM) {
    .hidden--minM {
        display: none !important;
    }
}
@media (--minL) {
    .hidden--minL {
        display: none !important;
    }
}
@media (--minXL) {
    .hidden--minXL {
        display: none !important;
    }
}
