@import "config.min.css";
/* --------------------------------------------------------------
	forms.css
		define default form styles
		* Thanks boilerplate for Normalize Form CSS
		© sacripant.fr
-------------------------------------------------------------- */ 


/*
//	RESET FORMS
*/

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}
button[disabled], input[disabled] { cursor: default; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; color: inherit; font: inherit;}

/*Debug input submit btn height*/
input[type="submit"]::-moz-focus-inner
{ 
	border: 0; 
	padding: 0; 
}

/*
//	Fieldset + legend
*/

/*Default fieldset : as a title*/
fieldset    { 
	margin-bottom: var(--vr)em;
}
legend      { 
	font-size: var(--fs-h6);
	white-space: nowrap; 
	border-bottom: 1px solid;
	display: block;
	width: 100%;
	padding-bottom: 0.33em;
}
/*Fieldset border*/
.fieldset-border {
	/*margin: 0 0 1.5em 0; */
	border: 1px solid #ccc; 
	padding: 0 1em 0.66em 1em;	
}
.fieldset-border legend {
	border-bottom: 0 none;
	padding-bottom: 0;
	width: auto;
}


/* 
//	Form item 
*/

.form-item	{ 
	margin-bottom: calc( var(--vr) / 3 )em;
	margin-top: calc( var(--vr) / 3 )em; 
}

label       { 
	/*text-transform: uppercase; */
	font-size: var(--fs-small)em;
	color: #666;
	line-height: normal;
}


/* 
//	Form fields
*/

input
, textarea
, select 
{
	min-width: 100%; max-width: 100%;
	padding: 0.33em;
	border: 1px solid #ccc;
	height: 2em;
}
select {
	width: 100%;
}
input:focus
, textarea:focus
, select:focus 
{
	border-color:#666;
}
input[type=checkbox]
, input[type=radio]
, input[type=submit]
, input[type="reset"] 
{
	min-width: 0;
	max-width: none;
}
textarea {
	font: inherit;
	resize: vertical;
}
input[type=checkbox]
, input[type=radio]
, textarea
, select[multiple]
{
	height: auto;	
}
input[type=file] { 
	border: 0 none; padding: 0; width: 100%;/*for firefox display*/ 
}
input[type=date] { 
	font: inherit; /*for chrome display*/
}


/*For correct input alignement with sibling form-item if no label (for submit per ex)*/
.no-label input	{
	margin-top: var(--vr)em; /*cf typo line-height*/
}



/* 
//	Form item inline
*/
.inline-form input, .inline-form textarea, .inline-form select { 
	min-width: 0;
	width: auto;
}


/* 
//	Input group
*/

.input-group {
	display: table;
	width: 100%;
}
.input-group > * {
	display: table-cell;
	vertical-align: middle;
}
.input-group input {
	width: 100%;
}
.input-addon {
	width: 1%;
	background-color: #ddd;
	/*border: 1px solid #999;*/
}
span.input-addon {
	padding: 0 0.33em;	
}
.input-addon button 
, .input-addon input[type=submit]
{
	background: none;
	border: 0 none;
	width: auto;
	margin-bottom: -2px;
}



/*
*	Notifications
*	* Error
*	* notif
*	* success
*/

/*colors*/


.notif	{ 
	padding: .5em; 
	margin-bottom: 1em; 
	border: 1px solid; 
}

/* ERROR */
.color-error		{ color: var(--color-error); }
.color-error-bg		{ color: var(--color-error-bg); }

.error		{ 
	color: var(--color-error);
}

.notif.error 
, .error input
, .error textarea
, .error select
{
	background: var(--color-error-bg); 	
}

/* NOTICE */
.color-notice		{ color: var(--color-notice); }
.color-notice-bg	{ color: var(--color-notice-bg); }

.notif.notice
{ 
	background-color: var(--color-notice-bg);
	color: var(--color-notice); 
}

/* SUCCESS */
.color-success		{ color: var(--color-success); }
.color-success-bg	{ color: var(--color-success-bg); }

.notif.success	{ 
	background-color: var(--color-success-bg); 
	color: var(--color-success); 
}

/* 
//	Required field
//	add * after label.required 
*/

label.required:after	{ content: " *"; color: red;}
