@import "config.min.css";
/* --------------------------------------------------------------
    utils.css
        define some utils class
        © sacripant.fr

        * clear
        * hide
        * visuallyhidden
        * clearfix
        * img placeholder
        * bloc-links

-------------------------------------------------------------- */ 


/*
**  utils class
*/

.clear              { clear: both; }
.hide               { display: none; }
.visuallyhidden     { border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px; }

/* CLEARFIX 
-------------*/
.clearfix:before, .clearfix:after   { content: ""; display: table; }
.clearfix:after                     { clear: both; }


/* img Placeholder
--------------------*/
img[alt="placeholder"]      { background-size: cover; }
img[alt="placeholder"].gray { background-color: #ddd; }
img[alt="placeholder"].music{ background-image : url(../img/placeholder/music.jpg); }
img[alt="placeholder"].food { background-image : url(../img/placeholder/food.jpg); }
img[alt="placeholder"].town { background-image : url(../img/placeholder/town.jpg); }


/* bloc link
--------------*/
.bloc-link {
    position: relative;
}

.a__bloc-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bloc-link a:not(.a__bloc-link){
    position: relative;
    z-index: 2;
}

/* center a block horizontally */
.center-bloc {
    display: block;
    margin-right: auto; 
    margin-left: auto;
}
/* Full size for inline-block, usefull for btn */
.fit {
    width: 100%;
}


/*
*   Responsive Hidden class
*/
@media (--maxXS) {
    .hidden--maxXS {
        display: none !important;
    }
}
@media (--maxS) {
    .hidden--maxS {
        display: none !important;
    }
}
@media (--maxM) {
    .hidden--maxM {
        display: none !important;
    }
}
@media (--maxL) {
    .hidden--maxL {
        display: none !important;
    }
}
@media (--minS) {
    .hidden--minS {
        display: none !important;
    }
}
@media (--minM) {
    .hidden--minM {
        display: none !important;
    }
}
@media (--minL) {
    .hidden--minL {
        display: none !important;
    }
}
@media (--minXL) {
    .hidden--minXL {
        display: none !important;
    }
}

