{% set base_path = "templates/" %}

{% extends "templates/base.njk" %}

{% block headTitle %}
	Table of content — {{ super() }}
{% endblock %}

{% block main %}

	<h1>
		{{ name }} v.{{ version }}
	</h1>

	<h2>
		Templates
	</h2>

	<ul>
		<li>
			<a href="templates/index.html">Homepage</a>
		</li>
		<li>
			<a href="templates/404.html">Error 404 page</a>
		</li>
	</ul>

	<h2>
		Documentation
	</h2>

	<ul>
		<li>
			<a href="docs/index.doc.html">Front-end documentation</a>
		</li>
	</ul>
	
{% endblock %}
