/*
*	docs layout
*/

#logo {
	width: 400px;
	max-width: 100%;
}
.docs-header {
	float: left;
	top: 0; left: 0;
	min-height: 100vh;
	width: 10em;
	padding: 3em 1em 0 1em;
	margin-right: 1em;
}

.docs-main {
	float: left;
	padding-top: 3em;
	margin-right: 1em;
	width: calc(100% - 12em);
	max-width: 45em;
}

/* doc table of content */
.docs-toc { font-size: .9em;}
.h__docs-toc { font-size: 1em; font-weight: normal; margin: .66em 0 .33em}
.a__docs-toc { }


/*
*	exemple & blocs de code 
*/

.code-demo {
	margin-bottom: 1.5em;
	padding: 1em 1em 0;
	border: 1px solid #ccc;
}

.bloc-code {
	background-color: #EBEEDC;
	padding: 0 1em;
	/*border: 1px solid #ccc;*/
	/*border-width: 1px 0 0 0;*/
	font-size: 0.8em;
	-moz-tab-size : 4;
	     tab-size : 4;
	overflow: auto;
	white-space: pre;
	clear: both;
}

.code-demo > .bloc-code {
	margin: 1em -1.25em 0 -1.25em;	
}

/*Upgrade prism styles*/
pre[class*="language-"] {
	border-radius: 0;
	border: 0 none;
}

/*
*	grid demo
*/

.demo-grid .fl-grid > *
, .demo-grid .il-grid > *
, .demo-grid .tb-grid > *
{
	background-image: linear-gradient( 90deg, hsla(0, 0%, 75%, .5), hsla(0, 0%, 75%, .5));
	background-origin: content-box;
	background-repeat: no-repeat;
	word-wrap: break-word;
	margin-bottom: 1rem;
}

.demo-grid .fl-grid > *:before 
, .demo-grid .il-grid > *:before 
, .demo-grid .tb-grid > *:before 
{
	content: "." attr(class);
}


/*
**	Color blocs
*/
.ul-doc-colors li {
	margin-bottom: 1em;
}
.bloc-color {
	height: 50px;
}

/*
**	Icons list
*/
.i__icons {
	max-width: 10em;
	text-align: center;
	margin-bottom: 1em;
}


